.header {
    padding: 15px 0;
    color: #ffffff;
    background-color: rgb(97, 219, 235);
    width: 100%;
    text-align: center;
    border-bottom: 10px solid rgb(0, 166, 207);
    margin-bottom: 10px;
}